streamlit==1.28.0
langchain==0.2.16
langchain-groq==0.1.9
langchain-community==0.2.16
langchain-core==0.2.38
langsmith==0.1.75
python-dotenv==1.0.0
PyPDF2==3.0.1
python-docx==0.8.11
qdrant-client==1.7.3
sentence-transformers==2.2.2
pytesseract==0.3.10
Pillow==10.1.0
groq==0.4.1
--index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
transformers==4.36.0
numpy==1.24.3
